.breadcrumbs {
	padding-left: 15px;
	margin-bottom: 50px;
}
.breadcrumb-not-active {
	color: var(--background-color);
}

.breadcrumb-active {
	color: var(--accent-color-2);
}

.breadcrumb-arrow {
	margin-left: 10px;
	margin-right: 10px;
	color: var(--background-color);
}
