.header {
	background-color: var(--secondary-color);
	font-weight: 500;
	color: #fff;

	margin-bottom: 10px;
	text-transform: uppercase;
}
.nav {
	margin: 0 auto;
	max-width: 1400px;
	padding: 25px 0;
}
.link {
	margin-right: 20px;
	border-radius: 20px;
	transition: all 0.3s;
}
.link:hover {
	color: var(--accent-color-2);
}
.nav_links li {
	display: inline-block;
}

.nav_links li:first-child {
	margin-left: 10px;
}

.nav_links li:last-child {
	right: 0;
	top: 0;
	margin-left: auto;
}

.nav_links {
	display: flex;
	align-items: center;
}

@media (max-width: 500px) {
	.link {
		font-size: 14px;
	}
	.link:last-child {
		margin: 0;
	}
	.nav_links {
		justify-content: center;
		gap: 15px;
	}
	.nav_links li:last-child {
		margin-left: 0;
		margin-right: 0;
	}
	.nav_links li:first-child {
		margin: 0;
	}
}

.navbar-info {
	padding: 0 15px;
	margin: 0 auto;
	display: block;
	background-color: var(--accent-color-2);
	text-decoration: none;
	text-align: center;
	border-radius: 4px;
	max-width: 400px;
	line-height: 60px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	transition: all 0.3s;
	margin-right: 10px;
	border: 0;
}

.navbar-info:hover {
	background-color: #0a6bff;
}
