.header {
	background-color: var(--secondary-color);
	font-weight: 500;
	color: #fff;
	margin-bottom: 50px;
	text-transform: uppercase;
}
.nav {
	margin: 0 auto;
	max-width: 1400px;
	padding: 25px 0;
}
.link {
	margin-right: 20px;
	border-radius: 20px;
	transition: all 0.3s;
}
.link:hover {
	color: var(--accent-color-2);
}
.nav_links li {
	display: inline-block;
}

.nav_links li:first-child {
	margin-left: 10px;
}

.nav_links li:last-child {
	right: 0;
	top: 0;
	margin-left: auto;
}

.nav_links {
	display: flex;
}

@media (max-width: 500px) {
	
	.link {
		font-size: 14px;
	}
	.link:last-child {
		margin: 0;
	}
	.nav_links {
		justify-content: center;
		gap: 15px;
	}
	.nav_links li:last-child {
		margin-left: 0;
		margin-right: 0;
	}
	.nav_links li:first-child {
		margin: 0;
	}
}
