* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.progress-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  max-width: 48%;
}

.progress-text {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.progress-text p {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  opacity: 1;
  color: var(--text-color);
  -webkit-animation: showText 0.5s 1s linear forwards;
  animation: showText 0.5s 1s linear forwards;
}

.progress-bar {
  width: 1000px;
  margin: 30px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}

.progress-line {
  z-index: 0;
  position: relative;
  margin-top: 7px;
  height: 10px;
  width: 100%;
  border-radius: 50px;
  background-color: #b8b8b8;
}

.progress-color {
  z-index: 1;
  position: absolute;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  height: 100%;
  border-radius: 50px;
  transition: 1s all;
}

.progress-color.animate {
  -webkit-animation: animate 1.5s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
  animation: animate 1.5s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@-webkit-keyframes swowText {
  100% {
    opacity: 1;
  }
}

@keyframes swowText {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
