.container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 739px;
	padding: 0 15px;
	color: var(--text-color-2);
}

.card {
	background-color: var(--secondary-color);
	padding: 32px;
	border-radius: 16px;
}

.card-top {
	display: flex;
	align-items: center;
	gap: 24px;
	margin-bottom: 24px;
}

.card-avatar {
	width: 170px;
	height: 170px;
	border-radius: 99px;
}

.card-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-name,
.card-age {
	display: inline-block;
}

.card-name {
	font-weight: 600;
	font-size: 48px;
	line-height: 50px;
}

.card-age {
	color: var(--grey-color);
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 16px;
	padding-left: 3px;
}

.card-qualities {
	display: flex;
	align-items: center;
	gap: 12px;
}

.card-quality {
	background-color: var(--accent-color-2);
	padding: 12px 16px;
	border-radius: 35px;
	font-size: 16px;
	font-weight: 500;
	margin-right: 0;
}

.card-quality:last-child {
	margin: 0;
}

.card-description {
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 24px;
}

.card-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 735px) {
	.card-top {
		flex-direction: column;
		justify-content: center;
		gap: 12px;
	}

	.card-name,
	.card-age {
		text-align: center;
	}

	.card-name {
		font-size: 36px;
	}

	.card-age {
		font-size: 20px;
	}

	.card-quality {
		font-size: 14px;
		padding: 10px 14px;
	}

	.card-description {
		font-size: 16px;
		text-align: center;
	}
}

@media (max-width: 500px) {
	.card-qualities {
		flex-direction: column;
		justify-content: center;
	}
}

@media (max-width: 400px) {
	.card-footer {
		flex-direction: column;
		gap: 15px;
	}
}
