.container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 15px;
	color: var(--text-color-2);
}

.card {
	background-color: var(--secondary-color);
	padding: 35px 50px;
	border-radius: 16px;
	margin-bottom: 20px;
}

.card-top {
	display: flex;
	align-items: center;
	gap: 24px;
	margin-bottom: 24px;
}

.card-avatar {
	width: 170px;
	height: 170px;
	border-radius: 99px;
}

.card-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-name,
.card-age {
	display: inline-block;
}

.card-name {
	font-weight: 600;
	font-size: 45px;
}

.card-name-block {
	display: flex;
	align-items: center;
	gap: 20px;
}

.card-age {
	color: var(--grey-color);
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 16px;
	padding-left: 3px;
}

.card-qualities {
	display: flex;
	align-items: center;
	gap: 12px;
}

.card-quality {
	background-color: var(--accent-color-2);
	padding: 12px 16px;
	border-radius: 35px;
	font-size: 16px;
	font-weight: 500;
	margin-right: 0;
}

.card-quality:last-child {
	margin: 0;
}

.card-description {
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 24px;
}

.card-progress {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.card-thingsDone-list {
	list-style: inside;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 40px;
}

.card-thingsDone-title {
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 10px;
}

.card-task span {
	position: relative;
	left: -8px;
}

.card-footer {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 750px) {
	.card-top {
		flex-direction: column;
		justify-content: center;
		gap: 12px;
	}

	.card-name,
	.card-age {
		text-align: center;
	}

	.card-name {
		font-size: 36px;
	}

	.card-age {
		font-size: 20px;
	}

	.card-quality {
		font-size: 14px;
		padding: 10px 14px;
	}

	.card-description {
		font-size: 16px;
		text-align: center;
	}

	.card-progress {
		justify-content: center;
		align-items: center;
	}

	.card-thingsDone-title {
		font-size: 24px;
		text-align: center;
	}

	.card-thingsDone-list {
		list-style: none;
		text-align: center;
	}
}

@media (max-width: 500px) {
	.card {
		padding: 35px 40px;
	}
	.card-qualities {
		flex-direction: column;
		justify-content: center;
	}
	.card-name {
		font-size: 26px;
		line-height: 40px;
	}
}

@media (max-width: 400px) {
	.card-footer {
		flex-direction: column;
		align-items: center;
		gap: 25px;
	}
	.card-description {
		font-size: 14px;
	}
}
