/* Montseratt font: 400, 400 italic, 500, 600*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&display=swap');

/* variables  */
:root {
	--text-color: #061318;
	--background-color: #e7f4f9;
	--primary-button: #3ba4ce;
	--secondary-button: #f3f9fc;
	--accent-color: #50aed3;
}

/* reset css */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style-type: none;
	padding-inline-start: 0;
}

#root,
#__next {
	isolation: isolate;
}

/* global styles */

body {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
}
