#card {
	border-radius: 5px;
	overflow: hidden;
	background-color: var(--secondary-color);
	width: 100%;
	padding: 35px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#card .nameHolder h1 {
	font-size: 30px;
}

#card .nameHolder h2 {
	color: var(--grey-color);
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 10px;
}

#card .personal {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 40px;
}

#card .avatar {
	display: flex;
	padding: 10px;
}

.avatar-image {
	object-fit: cover;
}

#card .avatar img {
	border-radius: 40px;
	width: 200px;
	height: 200px;
	border: 5px solid #fff;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
		0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

#card .info {
	padding-top: 20px;
}

#card .skills {
	padding-top: 70px;
	padding-left: 20px;
}

#card .skills span {
	display: inline-block;
	height: 32px;
	font-size: 13px;
	font-weight: 500;
	color: #fff;
	line-height: 32px;
	padding: 0 12px;
	border-radius: 25px;
	background-color: #64bc7f;
	/* margin: 100px 50px 0px 50px; */
}

#card .randomizeButton {
	margin: 0 auto;
	display: block;
	background-color: var(--accent-color-2);
	text-decoration: none;
	text-align: center;
	border-radius: 4px;
	max-width: 400px;
	line-height: 60px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	transition: all 0.3s;
}

#card .randomizeButton:hover {
	background-color: #0a6bff;
}

.cardsList-item {
	margin-bottom: 30px;
}

.animate-change {
	animation-name: slide-in;
	animation-duration: 0.3s;
}

@keyframes slide-in {
	from {
		margin-left: -50px;
		opacity: 0.2;
	}
	to {
		margin-left: 0px;
		opacity: 1;
	}
}

@media (max-width: 645px) {
	#card .personal {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}
}

